
<div class="container">
    <div class="box">
        <button class="btn btn-danger delete" onclick="del()">X</button>
        <div class="sliderBox">
            <div class="previewBox">
                <img src="../assets/images/placeholder-image.png" id="preview" alt="">
            </div>
            <hr>
            <div class="slider">
                <div class="uploudBtn">
                    <img  src="" class="slideImage" />
                    <label for="upload" class="btn btn-success">+</label>
                </div>
            </div>
        </div>
    </div>
    <input type="file" id="upload" hidden multiple >
</div>
